
<div class="row border my-3 p-2">
    
    <h1 class="text-center">chart-polar doughnut!</h1>

    <div class="col-5 border  m-2">
        <canvas baseChart class="chart"
        [data]="doughnutChartData"
        [type]="doughnutChartType"
        (chartClick)="chartClicked($event)">
    </canvas>
    </div>
    
    <div class="col-5 border  m-2">
        <canvas baseChart class="chart"
        [data]="doughnutChartData"
        [type]="doughnutChartType"
        (chartClick)="chartClicked($event)">
    </canvas>
    </div>
</div>